* {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;

    box-sizing: border-box;

    /* background-color: #fefefe; */
}

html, body {
    height: 100%;
}

h1 {
    font-size: 45px;
    /* font-size: 3.52vw; */
    /* font-size: 3.52vh; */
    font-weight: 400;
    color: #fefefe;
    letter-spacing: 3px;
}

h2 {
    text-align: center;
    color: #595959;

    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;

    border-bottom: 3px solid #9c0c0c;
}

p {
    color: #595959;

    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.8px;
}

/**************************************
/* NAVIGATION BAR
**************************************/
.nav-bar {
    box-shadow: 0px 3px 7px rgba(50,50,93,0.2),
    0px 1px 2px rgba(0,0,0,0.3);
}

.nav-container {
    display: flex;  
    justify-content: space-between;
    flex-direction: row;

    margin: 0 8.33%;
}

/* to the left side of navbar */
.to-left {
    display: flex;
    justify-content: flex-start;
}

.nav-brand {
    display: flex;

    height: 80px;
    width: 260px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    flex: 1;

    height: 100%;
    justify-content: center;
    align-items: center; 

    color: #595959;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
}

/* to the right side of navbar */
.to-right {
    display: flex;
    justify-content: flex-end;

    width: 100%;
}

.nav-content {
    display: flex;
    flex-direction: row;

    height: 80px;
    max-width: 480px;
    width: 100%;
}

.nav-link, .dropdown-btn {
    display: flex;
    flex: 1;

    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center; 

    color: #595959;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
}

/* hover and active effect */
.nav-link:hover,
.brand-name:hover,
.dropdown-btn:hover,
.dropdown-content a:hover,
.active,
#current-page {
    box-shadow: inset 0 -3px 0 0 #9c0c0c;
    color: #9c0c0c;
} 

.icon:hover,
.active .icon {
    color: #9c0c0c;
}

@media screen and (max-width: 700px) {
    .nav-container {
        flex-direction: column;
        margin: 0 auto;
    }

    .nav-content {
        height: 40px;
        max-width: 100%;
    }

    .nav-brand {
        height: 40px;
        margin: 0 auto;
    }

    .nav-link,
    .dropdown-btn,
    .dropdown-content a {
        font-size: 15px;
    }
}

/******************************************
/* DROPDOWN MENU
******************************************/
.dropdown-content {
    display: none;
    position: absolute;
    top: 80px;
    background-color: #fefefe;
    min-width: 160px;

    box-shadow: 0px 1px 3px rgba(50,50,50,0.2),
    0px 1px 1px rgba(0,0,0,0.3);
    z-index: 1;
}

.dropdown-content a {
    color: #595959;
    padding: 12px 16px;
    text-decoration: none;
    letter-spacing: 1.5px;
    display: block;

    -webkit-transition: 0.15s;
    transition: 0.15s;
}

.clicked {
    display: block;
}

/* transition speed of dropdown icon rotation */
#dropdown-icon {
    margin-left: 4px;

    -webkit-transition: 0.4s;
    transition: 0.4s;
}

/******************************************
/* HOMEPAGE HERO IMAGE
******************************************/
.full-view {
    height: 100%;
}

.hero-img {
    position: relative;

    text-align: center;

    width: 100%;
    height: calc(100% - 80px);
}

img {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;

    transform: translate(-50%, -50%);
}

.bottom {
    position: absolute;
    bottom: 25px;

    transform: translate(-50%, -50%);
}

/******************************************
/* CAROUSEL INDICATOR
******************************************/
.carousel-indicator {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    border: 1.5px solid #fefefe;
}

.indicator-center {
    left: 50%;
}

.indicator-right {
    left: calc(50% + 30px);
}

.indicator-left {
    left: calc(50% + -30px);
}

.current-indicator {
    background-color: #fefefe;
}

.carousel-indicator:hover {
    cursor: pointer;
}

/******************************************
/* ARROWS
******************************************/
.arrow {
    color: #fefefe;
    font-size: 40px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(-50%, -50%);
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
}

.arrow:hover {
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 28px;
    }

    .arrow {
        font-size: 22px;
    }

    .left-arrow {
        top: auto;
        bottom: 18px;
    }

    .right-arrow {
        top: auto;
        bottom: 18px;
    }
}

/******************************************
/* SECTION
******************************************/
.section, 
.footer {
    /* background: red; */
    padding: 5% 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* padding: 8px 0; */
    margin: 0 8.33%;
}

.space{
    flex: 1;
}

.col {
    flex: 6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col > *:not(:last-child) {
    margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
    .space {
        flex: 0;
    }

    .col {
        flex: 100%;
    }

    .col:first-child {
        margin-bottom: 24px;
    }
}

/******************************************
/* BUTTON
******************************************/
.button {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;

    display: block;
    text-align: center;

    width: 200px;
    padding: 12px;
    margin: 0 auto;

    border-radius: 5px;
}

.btn-1 {
    color: #fefefe;
    background-color: #9c0c0c;

    box-shadow: 0px 3px 5px rgba(50,50,93,0.1),
                0px 1px 3px rgba(0,0,0,0.07);

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn-1:hover {
    box-shadow: 0px 3px 15px rgba(48, 48, 228, 0.1),
                0px 1px 10px rgba(0,0,0,0.2);

    /* shift up 1px */
    position: relative;
    top: -1px;
}

.sample-image {
    box-shadow: 0px 3px 7px rgba(50,50,93,0.6),
    0px 1px 2px rgba(0,0,0,0.3);
}

.quote {
    margin: 0 8.33%;
    color: #fefefe;
    /* font-weight: 300; */
}

.section-quote {
    background-image: url("images/night_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    box-shadow: 0px 0px 5px rgba(50,50,93,0.5),
    0px 0px 1px rgba(0,0,0,0.3);
}

/******************************************
/* FOOTER
******************************************/
.footer {
    box-shadow: inset 0 3px 0 0 #9c0c0c;
}

.col-company,
.col-links {
    display: flex;
    flex-direction: column;
}

.col-company {
    flex: 1;
    /* background: blue; */
}

.col-links {
    flex: 1;
    /* background: red; */
}

.footer-content > *:not(:last-child) {
    margin-bottom: 10px;
}

.footer-content a:hover {
    color: #9c0c0c;
    text-decoration: underline;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* all text */
.copyright p,
.author p,
.free,
.company-info > *,
.sub {    
    font-size: 14px;
    color: #cc5757;
}

.col-company a,
.col-links a {
    text-decoration: none;
}

/* main links */
.main {
    font-size: 16px;
    color: #595959;
    font-weight: 600;
}

@media screen and (max-width: 690px) {
    .col-company {
        flex: 100%;
    }

    .col-links {
        flex: 50%;
    }

    .col-company {
        margin-bottom: 24px;
    }
}

/******************************************
/* FOOTER ENDER
******************************************/
.copyright,
.author,
.social-media,
.social-app {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer-closure {
    margin-top: 24px;
    box-shadow: inset 0 2px 0 0 #cc5757;
}

/******************************************
/* SOCIAL MEDIA ICONS
******************************************/
.social-media a {
    font-size: 14px;
    color: #fefefe;
}

.social-media a:hover {
    color: #9c0c0c;
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: #cc5757;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 645px) {
    .social-media {
        flex: 100%;
    }
}
